body{
	background-color: #0F5A93;
	color: white;
}

h1{
	text-align: center;
	font-size:50px;
	font-family: "Gill Sans MT",sans-serif;
	text-transform: uppercase;
}

#slogan{
	text-align: center;
	font-style: italic;
	font-size:25px;
	font-family: "Gill Sans MT",sans-serif;
}

hr{
	width: 500px;
}

h2{
	text-transform: uppercase;
	font-family:Gill Sans MT, sans-serif;
}

h3{
	font-family:Calibri, sans-serif;

}

.jobtitle{
	font-family:Calibri, sans-serif;
	font-weight:bold;
}

.dates{
	font-family:"Calibri Light", sans-serif;
}

.city{
	font-family:"Calibri Light", sans-serif;
	font-style: italic;
}

p,ul{
	font-family:"Calibri Light", sans-serif;
}
