body{
	background: url("images/gray-white-wallpaper.jpg");
}

h1{
	text-align: center;
	font-size:100px;
	font-family: "Gill Sans MT",sans-serif;
	text-transform: uppercase;
}

#slogan{
	text-align: center;
	font-style: italic;
	font-size:50px;
	font-family: "Gill Sans MT",sans-serif;
}

hr{
	width: 500px;
}

h2{
	text-transform: uppercase;
	text-decoration: underline;
	font-family:Gill Sans MT, sans-serif;
}

h3{
	font-family:Calibri, sans-serif;
	color: blue;
}

.jobtitle{
	font-family:Calibri, sans-serif;
	color: gray;
	font-weight:bold;
}

.dates{
	font-family:"Calibri Light", sans-serif;
}

.city{
	font-family:"Calibri Light", sans-serif;
	font-style: italic;
}

p,ul{
	font-family:"Calibri Light", sans-serif;
}
